.contact-section {
  padding-top: 3.6rem;
  min-height: 100vh;
  margin-bottom: 3.6rem;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #32323a;
  border-radius: 10px;
  width: 100%;
}

.contact-form {
  padding: 1.2rem;
  background-color: #32323a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.input-forms {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  gap: 0.5rem;
}

.input-forms label {
  color: #dadada;
  font-size: 1.2rem;
  font-weight: bold;
}

.input-forms input,
.input-forms textarea,
.input-forms select {
  padding: 1rem;
  background-color: #2E2E35;
  border: none;
  border-radius: 10px;
  border-bottom: 1px solid #e4aa48;
  margin-bottom: 18px;
}

.contact-form .contact-button {
  margin-top: 18px;
}

.contact-img{
    background-image: url("../assets/output-onlinepngtools.png");
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 587px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
    
    .contact-img {
        height: 300px;
        grid-row: 2;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
}